{extend name='base'/}
{block name='content'}
<form action="" method="post">
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" placeholder="Title" value="{$article['title']}" name="title">
    </div>
    <div class="form-group">
        <label for="">Source</label>
        <input type="text" class="form-control" placeholder="Source" value="{$article['source']}" name="source">
    </div>
    <label class="radio-inline">
        <input type="radio" name="type" value="1" data-type="{$article['type']}">行业资讯
    </label>
    <label class="radio-inline">
        <input type="radio" name="type" value="2" data-type="{$article['type']}">行业知识
    </label>
    <div class="form-group">
        <label for="">Content</label>
        <textarea name="content" style="width:100%;height:300px;visibility:hidden;">
            {$article['content']}
        </textarea>
    </div>
    <input type="hidden" name="id" value="{$article['id']}">
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<script src="/static/kindeditor/kindeditor.js"></script>
<script>
    KindEditor.ready(function (K) {
        var editor1 = K.create('textarea[name="content"]', {
            cssPath: '/static/kindeditor/plugins/code/prettify.css',
            uploadJson: '/static/kindeditor/php/upload_json.php',
            fileManagerJson: '/static/kindeditor/php/file_manager_json.php',
            allowFileManager: true,
            afterCreate: function () {
                var self = this;
                K.ctrl(document, 13, function () {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
                K.ctrl(self.edit.doc, 13, function () {
                    self.sync();
                    K('form[name=example]')[0].submit();
                });
            }
        });
        prettyPrint();
    });
    var type=$("input[name='type']");
    type.each(function () {
        if($(this).attr('data-type')===$(this).val()){
            $(this).attr('checked','checked');
        }
    })
</script>
{/block}